:root {
    --sage: rgb(89, 158, 98);
    --sand: rgb(239, 225, 180)
}

body {
    background-color: var(--sage);
}

.sand {
    background-color: var(--sand);
    color: salmon;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: solid var(--sage) 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

h1 {
    font-family: 'Lobster', cursive;
}
