@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body.home {
    background-color: rgb(89, 158, 98);
}

body.home > h1 {
  text-align: center;
  color: #7c795d;
  font-family: "Merriweather", serif;
  font-size: 7rem;
  color: antiquewhite;
  text-shadow: 5px 5px 0px #eb452b;
}

body.home > .navbar {
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

body.home > h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 100px;
    text-decoration: underline black;
    color: #7c795d;
    font-family: "Merriweather", serif;
    color: antiquewhite;
    text-shadow: 2px 2px 2px #eb452b;
}

body.home > p {
    border: 1px solid aliceblue;
    width: 500px;
    text-align: center;
    margin-left: 10%;
    border-width: 5px;
    border-radius: 10px;
    font-style: italic;
    font-size: 30px;
}

:root {
    --sage: rgb(89, 158, 98);
    --sand: rgb(239, 225, 180)
}

body.ingrediants {
    background-color: var(--sage);
}

body.ingrediants.sand {
    background-color: var(--sand);
    color: salmon;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: solid var(--sage) 1px;
    border-radius: 10px;
}

body.ingrediants > h1 {
    font-family: 'Lobster', cursive;
}

.card, .accordian {
    margin: 10px;
}
