<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  background-color: rgb(89, 158, 98);
}

h1 {
  text-align: center;
  color: #7c795d;
  font-family: "Merriweather", serif;
  font-size: 7rem;
  color: antiquewhite;
  text-shadow: 5px 5px 0px #eb452b;
}

.navbar {
  border-radius: 10px;
  width: 80%;
  margin: auto;
}

h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 100px;
  text-decoration: underline black;
  color: #7c795d;
  font-family: "Merriweather", serif;
  color: antiquewhite;
  text-shadow: 2px 2px 2px #eb452b;
}

p {
  border: 1px solid aliceblue;
  width: 500px;
  text-align: center;
  margin-left: 10%;
  border-width: 5px;
  border-radius: 10px;
  font-style: italic;
  font-size: 30px;
=======
:root {
    --sage: rgb(89, 158, 98);
    --sand: rgb(239, 225, 180)
}

body {
    background-color: var(--sage);
}

.sand {
    background-color: var(--sand);
    color: salmon;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: solid var(--sage) 1px;
    border-radius: 10px;
    margin-bottom: 10px;
}

h1 {
    font-family: 'Lobster', cursive;
>>>>>>> dd8fcb9ac84ac25b1097aa4705f6c3fa2d050861
}
