* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(89, 158, 98)
  }
  
  .header h1 {
    font: 60px;
    Text-align: center;
  }
  
  nav.navbar navbar-expand-lg bg-light {
    background-color: rgb(89, 158, 98);
  }
  
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
    /*Main column */
    .side {
      flex: 78.5%;
      background-color: white;
      padding: 40px;
    }
  
  .main {   
    flex: 21.5%;
    text-align: center;
    background-color: #f5e8dd;
    padding: 40px;
  }

  .img {
    display: block;
    height: 400px;
    width: 300px;
  }
  
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
  }
  
  .footer {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: rgb(89, 158, 98);
    color: white;
  }
  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    display: table;
    clear: both;
  }
  
  .delivery {
    height: 200px;
    width: 200px;
  }